<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <br>
    <br>
    <h4>お問い合わせいただき、有り難うございます。</h4>
    <h4>担当者が確認次第、お返事させて頂きます。</h4>
    <%= link_to "mypageへ戻る", customer_path(current_customer.id), class: "btn btn-success" %>
    
    </div>
  </div>
</div>