<%= @customer.lastname %> 様 <br>
<br>
いつもStarshipをご愛顧賜り、誠に有難うございます。<br>
下記の通り、お返事申し上げます。<br>
<br>
--------------------------------------------------<br>
<br>
【ご用件】：<%= @contact.subject %><br>
【お問い合わせに対する返信】<br>
<span style="white-space: pre-wrap;"><%= @contact.message %></span>
<br>
--------------------------------------------------<br>
<br>
上記につきまして、ご不明な点・ご質問等ございましたら、<br>
お気軽にお申し付けください。<br>
<br>
今後とも、宜しくお願い申し上げます。<br>
<br>
Starship 「mypage」運営チーム一同<br>