<div class="container">
  <div class="row">
    <div class="col-md-6">

    <h2>StarShip マイページサービス</h2>
    <h2>へようこそ</h2>
    <br>
    <h2>Voyage bring you a happiness and new emotion.</h2>
    <h2>Why not sail to beautiful ocean.</h2>
    <br>
    <br>
    <br>
    <h5>何かあれば、下記お気軽にお問合せ下さい。</h5>
    <br>
    <h5>ショールーム名</h5>
    <p>DMM WEBCAMP 難波御堂筋センタービル校</p>
    <br>
    <h5>ショールーム電話番号</h5>
    <p>06-7878-5677</p>
    <br>
    <h5>ショールーム所在地</h5>
    <p>住所：大阪府大阪市中央区難波４丁目４−４ 難波御堂筋センタービル 8F</p>
    </div>
    <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!
1d3281.5817964580406!2d135.49771137977987!3d34.66526308053936!2m3!
1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e780b177686d%3A
0xaa3b5e1384a05335!2zRE1NIFdFQkNBTVAg6Zuj5rOi5b6h5aCC562L44K744Oz44
K_44O844OT44Or5qCh77yI6Lui6IG35Z6L44OX44Ot44Kw44Op44Of44Oz44Kw44K54
4Kv44O844Or77yJ!5e0!3m2!1sja!2sjp!4v1633611244545!5m2!1sja!2sjp" 
width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
   </div>
</div>