<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h2>ようこそ、Starship mypageへ。</h2>
        <div class="a">
          <div class="b"><%= image_tag '1.jpg', :size => '500x320' %></div>
          <div class="b"><%= image_tag '2.jpg', :size => '500x320' %></div>
          <div class="b"><%= image_tag '3.jpg', :size => '500x320' %></div>
          <div class="b"><%= image_tag '4.jpg', :size => '500x320' %></div>
        </div>
        
      <h5>ログインは上の「Login」から、お願いいたします。</h5>
        
      </div>
    </div>
  </div>